*{
    /* margin: 0;
    padding: 0; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #3a4b5e;
}

#mainForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #EAEFF5;
}
#form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    font-size: 20px;
    width: 320px;
    justify-items: ce;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(173, 194, 236, 0.5);
    height: 73vh;
    color: #3a4b5e;
    font-size: 14px;
}

#weatherInput{
    border-radius: 4px;
    font-weight: 700;
    margin-top: 10px;
    width: 40%;
    border: 1px solid #93b0ea;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    border-radius: 16px;
    background: transparent;
    font-size: 40px;
    cursor: pointer;
    color: #3a4b5e;
    
}
#btn{
    border: 1px solid #93b0ea;
    width: 75px;
    height: 40px;
    margin: 12px;
    border-radius: 16px;
    background: transparent;
    color: #02131d;
    font-size: 22px;
    box-shadow: -8px -8px 15px rgba(139, 178, 241, 0.1);
    cursor: pointer;
}

#resultWindow{
    font-size: 32px;
    text-align: center;
}